<div class="col-md-15">
    <h2 class="text-center">Add Topic</h2>
    <form>
      <div class="form-group">
        <label for="id">Id:</label>
        <input type="id" [(ngModel)]="topic.id" placeholder="Id" name="id" class="form-control" id="id">
      </div>
    
      <div class="form-group">
        <label for="name">Name:</label>
        <input [(ngModel)]="topic.name" placeholder="name" name="name" class="form-control" id="name">
      </div>
    
      <div class="form-group">
        <label for="description">Description</label>
        <input [(ngModel)]="topic.description" placeholder="description" name="description" class="form-control" id="description">
      </div>
    
      <button class="btn btn-success" (click)="createTopic()">Create</button>
    </form>
    </div>
        